@font-face {
    font-family: Roboto;
    src: url('../../Media/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: Roboto-Medium;
    src: url('../../Media/fonts/Roboto/Roboto-Medium.ttf');
}