@use 'sass:color';

button {
    padding: 1em 2.8em;
    cursor: pointer;
}

.button--primary {
    background-color: $primary;
    border-radius: 50px;
    border: none;
    font-size: 1.1rem;

    &:hover {
        background-color: lighten($primary, 10%);;
    }
}