.card {
    display: grid;
    grid-template-rows: repeat(1fr, 3);

    &__body {
        display: flex;
        margin: 1em 0;
    }

    &__footer {
        display: flex;
        justify-content: center;
    }
}
