@keyframes fade {
    0% {
        background-size: 100% 0%;
        background-position: 0px 245px;
    }
    100% {
        background-size: 100% 100%;
        background-position: 0px -10px;
    }
}

.radio-group {
    &__label {
        cursor: pointer;
        transition-duration: 250ms;

        &:hover {
            background-image: radial-gradient($primary 40%, transparent 70%);
        }        
    }
    
    &__input {
        display: none;
    }
}

.radio-group--active {
    .radio-group__label {
        background-image: radial-gradient($primary 40%, transparent 70%);
        & > img {
            $deg: 80deg;
            background-repeat: no-repeat;
            background-position: 0px -10px;
            background-image: linear-gradient(-$deg, $main 20%, transparent 10%), 
                linear-gradient($deg, $main 20%, transparent 10%), 
                linear-gradient(transparent 10%, $primary);
            animation: fade 250ms ease-out 1;
        }
    }
}
